body{
    background-image: url("../images/tt.jpg");
    background-size: cover;
    color: #ffffff;
}
.weather{
    background-color: #2c303470;
    height: 175px;
}
.weather h4{
    font-size: 15px;
}
.weather img{
   transform: translate(105px,-86px);
}